/* Color Palette:
Light Shades: #F2EDDB;
Light Accent: #DCA27E;
Main Brand Color: #9D839F;
Dark Accent: #9877A0;
Dark Shades: #1A0E1C;
*/

header {
    background-color: #1A0E1C;
}
* {
    box-sizing: border-box;
}

.Fortnie {
    color: #F0EFE9;
}

.name {
    color: #F2EDDB;
}