/* Color Palette:
Light Shades: #F2EDDB;
Light Accent: #DCA27E;
Main Brand Color: #9D839F;
Dark Accent: #9877A0;
Dark Shades: #1A0E1C;
*/


* {
    box-sizing: border-box;
    background-color: #F9FAFB;
}

.Fortnie {
    color: #1C1C1E;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.name {
    color: #FF6F61;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    font-size: 35px;
}

.smalltitle {
    color: #1C1C1E;
    font-size: large;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bigtitle {
    color: #1C1C1E;
    font-size: x-large;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* light blue for stuff: 3ABEFF*/