/* Color Palette:
Light Shades: #F2EDDB;
Light Accent: #DCA27E;
Main Brand Color: #9D839F;
Dark Accent: #9877A0;
Dark Shades: #1A0E1C;
*/


* {
    box-sizing: border-box;
}

.Fortnie {
    color: #F0EFE9;
}

.name {
    color: #FCF8F0;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    font-size: xx-large;
}

.smalltitle {
    color: #F2EDDB;
    font-size: large;
}

.bigtitle {
    color: #F2EDDB;
    font-size: x-large;
    font-family: ;
}