/* Color Palette:
Light Shades: #F2EDDB;
Light Accent: #DCA27E;
Main Brand Color: #9D839F;
Dark Accent: #9877A0;
Dark Shades: #1A0E1C;
*/


* {
    box-sizing: border-box;
    background-color: #F9FAFB;
}

.normal {
  color: #1C1C1E;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  border-radius: 25%;
  width: 100px;
}
.name {
  color: #FF6F61;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-size: 35px;
  display: inline-block;
}

.smalltitle {
  color: #1C1C1E;
  font-size: large;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bigtitle {
  color: #1C1C1E;
  font-size: x-large;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* light blue for stuff: 3ABEFF*/